@import "variables";

.footer {
  background: $block_background;
  border-top: 1px solid;
  height: 195px;
  padding-top: 33px;
  padding-bottom: 33px;

  border-image-source: linear-gradient(
    152.14deg,
    rgba(21, 191, 253, 0.7) 9.96%,
    rgba(156, 55, 253, 0.7) 100%
  );
  border-image-slice: 1;
}
.footer__container {
  display: flex;
  height: 100px;
  justify-content: space-between;
  padding-right: 225px;
}

.title {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;

  margin-bottom: 24px;
}
.links {
  display: grid;
  grid-auto-flow: column;
  gap: 16px 145px;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(3, auto);
}

.link {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;

  color: white;
	cursor: pointer;
	&:hover {
	color: $button_color_hover;
}
}
.logo {
  margin-bottom: 24px;
}

.social {
  display: flex;
  column-gap: 24px;
}
.social__item {
	cursor: pointer;
}
