@import "variables";

.card {
  background: url("../public/media/programs/Subtract.svg");
  background-size: cover;
  width: 181px;
  height: 230px;
  display: flex;
  flex-direction: column;
  padding: 24px 9px 0px 10px;
}
.container {
}
.img {
  margin-bottom: 16px;
}

.title {
  text-align: center;
}
