@import "variables";

.questions {
  display: flex;
  flex-direction: column;
}

.title {
  margin-bottom: 54px;
  text-align: center;
}

.content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 180px;
}

.main {
  position: relative;
  width: 496px;
}

.question__mark {
  position: absolute;
  top: -890px;
  left: -340px;
  pointer-events: none;
}

.list {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}
